@import "tailwindcss";

:root {
  --background: #869471;
  --foreground: #FFCB69;
  --light-background: #FEFAE0
}

/* styles/globals.css or app/globals.css */
@font-face {
  font-family: BalooTamma;
  font-display: swap;
  src: url('../../public/fonts/baloo-tamma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.outline-text {
  -webkit-text-stroke: 1.7px #5A6144; /* For WebKit browsers */
}

.double-border::before {
  content: '';
  position: absolute;
  inset: -0px; /* offset to create the outer border */
  border: 4px solid #FFCB69;
  border-radius: 0.5rem; /* match if you're using rounded-md */
  z-index: -1;
}

.outline-text-2 {
  -webkit-text-stroke: 1.3px #5A6144;
}


@theme {
  --color-primary: var(--background);
  --color-foreground: var(--foreground);
  --color-light-bg: var(--light-background);
  --font-mono: var(--font-geist-mono);
  --font-display: "BalooTamma", "sans-serif";
}

body {
  background-color: var(--light-background);
}